.icon_close { background-image: url('png/icon_close.png'); background-repeat: no-repeat; }

.icon_code { background-image: url('png/icon_code.png'); background-repeat: no-repeat; }

.icon_info { background-image: url('png/icon_info.png'); background-repeat: no-repeat; }

.icon_menu { background-image: url('png/icon_menu.png'); background-repeat: no-repeat; }

.icon_target { background-image: url('png/icon_target.png'); background-repeat: no-repeat; }

