#sg {
}

button {
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.sg-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 1;
}

.sg-drawer-toggle {
  float: left;
  background: none;
  text-transform: uppercase;
  border: 0;
  padding: 0 12px 0 54px;
  background-position: 12px;
  font-size: 18px;
  text-transform: uppercase;
  color: #777277;
}

.sg-header-toggles {
  float: right;
  text-align: right;
  width: 400px;
  padding-right: 12px;
}

.sg-header-toggles-label {
  display: inline-block;
  margin: 0 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: #777277;
}

.sg-toggles {
  display: inline-block;
}

.sg-toggle {
  border: 0;
  background-color: transparent;
  height: 30px;
  width: 30px;
  text-indent: 40px;
  overflow: hidden;
  white-space: nowrap;
  opacity: .8;

  &:hover,
  &:focus {
    opacity: 1;
  }

  & + & {
    margin-left: 20px;
  }
}

.sg-drawer {
  display: block;
  position: fixed;
  background-color: #363136;
  color: #fff;
  height: 100%;
  width: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.sg-drawer-content {
  padding: 12px;

  a {
    color: c3c1c3;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.sg-close-toggle {
  display: block;
  background-color: #222;
  border: 0;
  width: 100%;
  font-weight: bold;
  padding: 12px 30px 12px 54px;
  text-align: left;
  text-transform: uppercase;
  color: #c3c1c3;
  background-position: 12px center;
}

.sg-tree {
  margin-left: 20px;
  margin-right: 20px;
}

.sg-drawer[aria-expanded="false"],
.sg-pattern-code[aria-expanded="false"],
.sg-pattern-info[aria-expanded="false"] {
  display: none;
}

.sg-patterns {
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  max-width: 896px;
}

.sg-pattern + .sg-pattern {
  margin-top: 180px;
}

.sg-pattern-header {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  margin-bottom: 24px;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.sg-pattern-title {
  float: left;
  margin-bottom: 12px;
  text-transform: uppercase;
  padding-bottom: 0;
  color: #666;
}

.sg-pattern-toggles {
  position: absolute;
  right: 0;
  bottom: 12px;
}

.sg-pattern-info {
  padding: 30px 0;
}

.sg-pattern-frame {
  border: 1px solid #e5e5e5;
  width: 100%;
}

// TreeView

.tree-view {
  text-transform: uppercase;

  > .node {
    font-weight: 600;
  }
}

.tree-view_arrow {
  color: yellow;
  float: left;
  width: 1em;
}

.tree-view_children .tree-view {
  padding-left: 1em;
  text-transform: none;
  font-weight: normal;

  > .node {
    font-weight: 600;
  }
}
