#sg {
}

.sg-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.sg-drawer-toggle {
  float: left;
}

.sg-close-toggle {
  display: block;
  background-color: #222;
  border: 0;
  width: 100%;
  font-weight: bold;
  padding: 12px 30px;
  text-align: left;
}

.sg-header-toggles {
  float: right;
  text-align: right;
  width: 400px;
}

.sg-header-toggles-label {
  display: inline-block;
  margin: 0 30px;
}

.sg-toggles {
  display: inline-block;
}

.sg-drawer {
  display: block;
  position: fixed;
  background-color: #363136;
  color: #fff;
  height: 100%;
  width: 300px;
}

.sg-tree {
  margin-left: 20px;
  margin-right: 20px;
}

.sg-drawer[aria-expanded="false"],
.sg-pattern-code[aria-expanded="false"],
.sg-pattern-info[aria-expanded="false"] {
  display: none;
}

.sg-patterns {
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  max-width: 896px;
}

.sg-pattern + .sg-pattern {
  margin-top: 180px;
}

.sg-pattern-header {
  border-bottom: 1px solid #e5e5e5;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.sg-pattern-title {
  float: left;
  margin-bottom: 12px;
  text-transform: uppercase;
  padding-bottom: 0;
  color: #666;
}

.sg-pattern-toggles {
  float: right;
}

.sg-pattern-info {
  padding: 30px 0;
}

.sg-pattern-frame {
  border: 1px solid #e5e5e5;
}

// TreeView

.tree-view {
  text-transform: uppercase;

  > .node {
    font-weight: 600;
  }
}

.tree-view_arrow {
  color: yellow;
  float: left;
  width: 1em;
}

.tree-view_children .tree-view {
  padding-left: 1em;
  text-transform: none;
  font-weight: normal;

  > .node {
    font-weight: 600;
  }
}
